@import url("vars.css");
@import url("top-section.css");
@import url("middle-section.css");
@import url("bottom-section.css");
@import "https://fonts.googleapis.com/css?family=Open+Sans";

/* Applying basic styles */
html {
	box-sizing: border-box;
	color: #dedcdc;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--primary-black);
	/* line-height: 1.4; */
	font-size: 1.3vw;
	height: 100%;
	margin: 0px;
}

.main-container {
	background-image: url("../assets/General-Images/background.svg");
	background-size: cover;
	display: grid;
}

@media (max-width: 780px) {
	body {
		font-size: 1.4vw;
	}
}

@media (max-width: 680px) {
	body {
		font-size: 1.6vw;
	}
}
